/* -------------- Custom page --------------*/
.js-lazy-loaded {
  max-height: 300px;
}

.merge-request-form {
  opacity: 0;
  transition: all 0.2s linear;
}

.merge-request-form.show {
  opacity: 1;
}

.show-template .md-area {
  box-shadow: none !important;
}

.show-template .md-area.is-focused,
.show-template .md-area.is-focused .nav-links,
.show-template .md-area.is-focused .comment-toolbar {
  border-color: #dbdbdb !important;
}

.show-template .md-header .md-header-toolbar {
  display: none;
}

.show-template .note-textarea {
  display: none;
}

.show-template .md-header-tab button {
  outline: none !important;
}

.issuable-form-select-holder.selectbox.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* -------------- Custom template --------------*/
.mb-pr-template .nav-pills {
  height: 100%;
  border-right: 1px solid #dbdbdb;
}

.mb-pr-template .nav-pills .nav-link {
  border-radius: 0;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mb-pr-template .nav-pills .nav-link.active {
  background: none;
  border-left: 3px solid #1f75cb;
}

.mb-pr-template .nav-pills .nav-link svg {
  opacity: 0;
  transition: all 0.2s linear;
}

.mb-pr-template .nav-pills .nav-link.completed-section svg {
  opacity: 1;
  color: #108548;
}

.mb-pr-template label {
  font-weight: 400;
}

.merge-request-form .mb-pr-template {
  display: none;
}

.merge-request-form.show-template .mb-pr-template {
  display: block;
}

.merge-request-form .btn-on-template {
  display: flex;
}

.merge-request-form .btn-on-markdown {
  display: none;
}

.show-template .btn-on-template {
  display: none;
}

.show-template .btn-on-markdown {
  display: flex;
}

.show-template .card-header h5 {
  font-size: 1.1rem;
}

.show-template .card {
  border: none;
}

.form-model {
  height: 30px;
  min-height: 32px;
  padding: 5px;
  outline: none;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  margin-top: 5px;
}

.form-model.code {
  font-family: "Menlo";
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
}

textarea.form-model {
  overflow-y: hidden;
  resize: none;
  width: 100%;
}

.with-index::before {
  content: attr(index) ".";
  position: absolute;
  top: 6px;
  left: -20px;
}

.group-item {
  position: relative;
  margin-top: 12px;
  align-items: flex-start;
}

.group-item .form-model {
  width: 100%;
  margin-top: 0;
}

.group-item .btn-delete {
  margin-left: 10px;
}

#btn-show-template {
  margin-left: auto;
  position: absolute;
  right: 0;
  top: 0px;
}

#btn-show-template button {
  min-width: 100px;
}

#btn-show-template button.btn-on-template:hover {
  box-shadow: none;
}

.btn-add-more,
.btn-delete {
  height: 32px;
  width: 32px;
  box-shadow: none !important;
  color: #fff !important;
}

.btn-add-more:focus,
.btn-delete:focus {
  box-shadow: none !important;
}

.btn-add-more {
  background-color: #108548 !important;
  padding: 5px !important;
  margin-top: 12px;
}

.btn-delete {
  background-color: #dd2b0e !important;
  padding: 9px !important;
}

@media screen and (max-width: 769px) {
  #btn-show-template {
    top: -65px;
  }
}
